.agent-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width:80vw;
    margin:auto;
}

.agent-card {
    width: 48%; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 300px; 
}

.agent-image {
    width: 40%; 
    height: 100%; 
    overflow: hidden;
    float: left; 
}

.agent-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.agent-details {
    width: 60%; 
    padding: 20px;
    box-sizing: border-box; 
    height: 100%; 
    overflow: hidden;
    float: left; 
}

.agent-details h2 {
    margin-top: 0;
}
@media (max-width: 850px) {
    nav{
        flex-direction: column;
    }
    nav div{
        width:100%;
    }
    .agent-card {
        width: 100%;
    }
    .agent-listings{
        width:90vw;
    }
}
#agents{
    text-align: center;
    margin:10px 0;
}
